main {
  margin-top: 1rem;
  max-width: 100vw;
  width: 800px;
  padding: 1rem;
}

main h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

main h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.warning {
  margin-bottom: 10px;
  background-color: bisque;
  padding: 5px 8px;
  width: fit-content;
  border: 1px solid;
}

.combo {
  display: grid;
  gap: 1rem;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.combo>div {
  border: 1px solid;
  padding: 1rem;
  box-shadow: 3px 3px black;
}

.combo>div:nth-child(1) {
  background-color: bisque;
}

.stat-num {
  font-size: 4rem;
}

.stat-desc {
  font-size: 1.5rem;
}

.options {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.option {
  padding: 5px 10px;
  border: 1px solid;
  box-shadow: 3px 3px;
}

.voters::before {
  content: '';
  width: 100%;
  border: 1px solid;
  display: block;
  margin: 3rem 0;
}

.id {
  background-color: white;
  padding: 5px 8px;
  font-family: monospace;
  font-size: 1rem;
  border: 1px solid;
  box-shadow: 3px 3px;
}

.voter {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.voter>span {
  font-family: monospace;
  background: white;
  width: fit-content;
  padding: 10px;
  border: 1px solid;
  box-shadow: 3px 3px;
}

.approve {
  background-color: orange;
  padding: 5px 10px;
  border: 1px solid black;
  box-shadow: 3px 3px black;
  color: black;
}

.approve:disabled {
  opacity: 50%;
  box-shadow: none;
}
