main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

img {
  width: 100%;
}

main>div {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

form,
img {
  max-width: 500px;
}

form label {
  font-size: 2rem;
}

.field {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

input {
  background-color: transparent;
  border: none;
  border: 1px solid black;
  font-size: 1.3rem;
  padding: 0.3rem 0.8rem;
  box-shadow: 3px 3px black;
}

input:focus {
  box-shadow: none;
}

.option {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.option>input {
  flex: 1;
}

.options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.submit {
  width: 100%;
}

button {
  background-color: transparent;
  border: 1px solid black;
  font-size: 1.3rem;
  padding: 0.3rem 0.8rem;
  box-shadow: 3px 3px black;
}

button:focus {
  box-shadow: none;
}

#addOption {
  width: fit-content;
}

@media (max-width: 800px) {
  main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  main>div:nth-child(2) {
    display: none;
  }
}

@media (max-width: 500px) {
  main>div {
    padding: 0.5rem;
  }

  form {
    width: 100%;
  }
}